# OS X
*.DS_STORE
*.DS_Store

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

.idea/*

# Local
.DS_Store
{{ project_name }}/settings/local.py
{{ project_name }}/migrations/

# Sublime project
*.sublime-project
*.sublime-workspace

# Migrations
migrations/
migrations/*