small {
  font-size:11px;
}

.step {
    overflow: hidden;
}

.step .local {
    float: left;
}

.step .local:before {
    content: 'Locally';
}

.step .remote {
    float: right;
}

.step .remote:before {
    content: 'Remotely';
}

.step .local,
.step .remote {
    width: 95%;
    clear: both;
    position: relative;
    padding: 30px 0 16px;

}